In [9]:
import sys
sys.path.append("..")

from utils.deduplicate import Duplication

In [16]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('sqlite:///../data.db', echo=False)
con = engine.connect()
df_patient = pd.read_sql('select * from patient', con=con)
df_pcr = pd.read_sql('select * from test', con=con)
con.close()

In [25]:
df_t = pd.DataFrame({"a":[True,True,False], "b":[True,True,False]})

In [24]:
def __calculate_matching__(match, var_threshold):
    return match[var_threshold].sum(axis=1) / len(var_threshold)

0    1.0
1    1.0
2    0.0
dtype: float64

In [32]:

d = __calculate_matching__(df_t, ["a","b"]) >= 0.9
d

0     True
1     True
2    False
dtype: bool

In [39]:
d.index[d]

Int64Index([0, 1], dtype='int64')

In [40]:
indice_duplicates = list()

if any(d):
    indice_duplicates.extend(d.index[d])

In [41]:
indice_duplicates

[0, 1]

In [26]:

def test_cm():
    assert __calculate_matching__(df_t, ["a","b"]) == 1

In [28]:
test_cm()

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [18]:
def test_removed():
    assert d.removed

,patient_id,given_name,surname,street_number,address_1,suburb,postcode,state,date_of_birth,age,phone_number,address_2
0,221958,matisse,clarke,13.0,rene street,ellenbrook,2527,wa,19710708.0,32.0,08 86018809,westella
1,771155,joshua,elrick,23.0,andrea place,east preston,2074,nsw,19120921.0,34.0,02 97793152,foxdown
2,231932,alice,conboy,35.0,mountain circuit,prospect,2305,nsw,19810905.0,22.0,02 20403934,None
3,465838,sienna,craswell,39.0,cumberlegeicrescent,henty,3620,wa,19840809.0,30.0,02 62832318,jodane
4,359178,joshua,bastiaans,144.0,lowrie street,campbell town,4051,nsw,19340430.0,31.0,03 69359594,None
...,...,...,...,...,...,...,...,...,...,...,...,...
19995,368617,abby,None,19.0,john cleland crescent,boyne island,2290,nsw,19570210.0,NaN,02 92489054,glenmore
19996,796658,dale,priest,19.0,bellchambers crescent,hoppers crossing,3033,wa,19590619.0,31.0,07 20549476,None
19997,511885,alessia,mawlai,4.0,miller street,smithfield,3616,tas,NaN,26.0,03 83466737,None
19998,985932,hannah,mason,1.0,halligan place,beaumaris,2443,wa,19140304.0,25.0,04 41125514,None
19999,925217,jack,mcveigh,5.0,alinda place,thornlands,4350,nsw,19230521.0,26.0,07 52535106,None

In [7]:
Duplication()

TypeError: __init__() missing 4 required positional arguments: 'var_threshold', 'var_similarity', 'variable_testing', and 'df_pcr'